# Snowflake Configuration
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=FLYWISE
SNOWFLAKE_SCHEMA=BRONZE
SNOWFLAKE_ROLE=ACCOUNTADMIN

# Aviation Edge API
AVIATION_EDGE_API_KEY=your_api_key_here

# Email Configuration (Gmail example)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FROM_EMAIL=notifications@flywise.app

# Application Settings
APP_URL=http://localhost:8501
DEBUG=True
LOG_LEVEL=INFO

# Airflow Configuration
AIRFLOW_HOME=./airflow



# Optional: Database URL for local testing
DATABASE_URL=sqlite:///./flywise.db


KIWI_API_KEY="8cKuqmtMCj3AcLojNJXrQAZ4jSaGjG1B"